@using Qinshift.Asp.Net.Class06.App.Models.ViewModels

@model CreateTodoVM

<h2>New Todo</h2>

@if (ViewBag.Error != null)
{
    <h6 class="alert alert-warning">@ViewBag.Error</h6>
}

<form asp-controller="Todo" asp-action="AddTodo" method="post">
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" class="form-select" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))">
            <option value="0">None</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="DueDate" class="form-label">Due date</label>
        <input type="datetime" asp-for="DueDate" class="form-control" />
    </div>

    <button type="submit" class="btn btn-outline-primary">Create</button>
</form>