@model List<PizzaViewModel>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pizza in Model)
        {
            <tr>
                <th scope="row">@pizza.Id</th>
                <td>@pizza.Name</td>
                <td>@pizza.Description</td>
                <td><a asp-action="Details" asp-controller="Pizza" asp-route-id="@pizza.Id" class="btn btn-primary">Details</a></td>
            </tr>
        }
    </tbody>
</table>

