@using Class04.Models.DtoModels
@model StudentWithCourseDto

<h1>GetStudentById</h1>

<div>
    <h4>StudentWithCourseDto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            FullName
        </dt>
        <dd class="col-sm-10">
            @Model.FullName
        </dd>
        <dt class="col-sm-2">
            Age
        </dt>
        <dd class="col-sm-2">
            @Model.Age
        </dd>
        <dt class="col-sm-2">
            NameOfCourse
        </dt>
        <dd class="col-sm-2">
            @Model.NameOfCourse
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
