@{
    ViewData["Title"] = "Home Page";
    UserViewModel a = new UserViewModel();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<partial name="~/Views/Shared/_Partial1.cshtml"></partial>
@* @Html.Partial("~/Views/Shared/_Partial1.cshtml") *@
